{% extends 'base.html.twig' %}


{% block body %}

    <div class="row">
        {% for item in bateaux  %}
            <div class="col-3">
                <div class="card m-1" >
                    <div class="card-body text-center p-1">
                        <h5 class="card-title">{{ item.nom }} </h5>
                        <p class="card-text">{{ item.longueur }}
                        <p class="card-text">{{ item.sponsors| join (', ') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
