{% extends 'base.html.twig' %}


{% block body %}
    <h1><strong>Course : </strong>{{ course.nom }}</h1>
    <div> Port de départ : {{ course.portDepart }} </div>
    <div> Date de départ : {{ course.dateDebut|date('d/m/Y') }} </div>

    <div>
        {% if course.dateDebut>date() %}
            <strong>à venir </strong>
        {% elseif course.dateFin is empty %}
            <strong>En cours </strong>
        {% else %}
            <strong>Fini </strong>
        {% endif %}

    </div>
    <hr>
    <div class="row">
        {% for item in participations  %}
            <div class="col-3">
                <div class="card m-1" >
                    <div class="card-body text-center p-1">
                        Bateau : {{ item.bateau.nom }} <br/>
                        Skipper : {{ item.skipper.nom }} <br/>
                        Position : {{ item.position==-1 ? 'Abandon':item.position }} <br/>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
