{% extends 'base.html.twig' %}


{% block body %}

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('courses') }}">Toutes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('courses',{'state':'past'}) }}">Terminées</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('courses',{'state':'present'}) }}">En cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ path('courses',{'state':'futur'}) }}">A venir</a>
        </li>
    </ul>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

<div class="row">
    {% for course in courses  %}
<div class="col-3">
        <div class="card m-1" >
            <div class="card-body text-center p-1">
                <h5 class="card-title">Course  </h5>
                <p class="card-text">
                    <strong>{{ course.nom }}</strong>
                </p>
                <p class="card-text">{{ course.portDepart }} le {{ course.dateDebut|date('d/m/Y') }}
                    {%  if course.dateFin is  not empty %}
                        fini le {{ course.dateFin|date('d/m/Y')  }}
                    {% endif %}</p>
                <a href="{{ path('course',{'course':course.id}) }}" class="btn btn-primary">Détail</a>
            </div>
        </div>
</div>
    {% endfor %}
</div>
{% endblock %}
