{% extends 'base.html.twig' %}


{% block body %}

    <div>

            <h1>LOGIN  </h1>
            {% if error is defined %}
                <div>{{ error.messageKey }}</div>
            {% endif %}

            <form action="{{ path('site_loginCheck') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username|default('') }}"/>

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>


                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">Keep me logged in</label>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit">login</button>
            </form>

    </div>
{% endblock %}
