{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        {% for item in skippers  %}
            <div class="col-3">
                <div class="card m-1" >
                    <div class="card-body text-center p-1">
                        <h5 class="card-title">{{ item.nom }} </h5>
                        <p class="card-text">{{ item.dateNaissance|date('d/m/Y') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
