<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('courses') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('skippers') }}">Skippers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('bateaux') }}">Bateaux </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ path('inscription') }}">Inscription </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ path('inscription_skipper') }}">Inscription skipper</a>
        </li>
    </ul>

    {% block body %}{% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
